div(ng-controller='AdminCustomerController as ctrl' ng-init='ctrl.init()')
    div
        div.row
            div.col-xs-12.col-sm-6
                div.panel-header-title #{__('customer_manage')}
            div.col-xs-12.col-sm-6
                div.text-right
                    button.action.btn.btn-primary.margin-bottom-15px(ng-click='ctrl.addCustomer()')
                        span
                            i.fa.fa-plus
                            span &nbsp;
                        span #{__('add_customer')}

    div.panel.panel-default
        div.panel-body
            div
                label #{__('search_customer')}
                select#select_customer.form-control

            div.margin-top-15px
                div.text-center(ng-show='!ctrl.selectedCustomer && !ctrl.loadingCustomerInfo')
                    span #{__('select_a_customer')}

                div.text-center(ng-show='ctrl.loadingCustomerInfo')
                    i.fa.fa-spinner.fa-spin

                div(ng-hide='!ctrl.selectedCustomer || ctrl.loadingCustomerInfo')
                    div.row
                        div.col-xs-6
                            label #{__('customer_info')}
                        div.col-xs-6
                            div.text-right
                                a(href='' ng-click='customerEditForm.$show()')
                                    span #{__('edit_')} &nbsp;
                                    i.fa.fa-pencil
                    form.row-table.margin-bottom-15px(editable-form='' name='customerEditForm')
                        div.row
                            div.col-xs-12.col-sm-6
                                div.row.flex
                                    div.col-xs-6.vf-center
                                        div.row-table-cell
                                            div.row-table-content.row-table-header #{__('name_')}
                                    div.col-xs-6.vf-center
                                        div.row-table-cell
                                            div.row-table-content
                                                span(editable-text="ctrl.selectedCustomer.name" e-name="name" e-required) {{ctrl.selectedCustomer.name}}
                            div.col-xs-12.col-sm-6
                                div.row.flex
                                    div.col-xs-6.vf-center
                                        div.row-table-cell
                                            div.row-table-content.row-table-header #{__('code_')}
                                    div.col-xs-6.vf-center
                                        div.row-table-cell
                                            div.row-table-content
                                                span(editable-text="ctrl.selectedCustomer.code" e-name="code" e-required) {{ctrl.selectedCustomer.code}}
                        div.row
                            div.col-xs-12.col-sm-6
                                div.row.flex
                                    div.col-xs-6.vf-center
                                        div.row-table-cell
                                            div.row-table-content.row-table-header #{__('phone_number')}
                                    div.col-xs-6.vf-center
                                        div.row-table-cell
                                            div.row-table-content
                                                span(editable-text="ctrl.selectedCustomer.phoneNumber" e-name="phoneNumber" e-required) {{ctrl.selectedCustomer.phoneNumber || #{__('not_set')}}}
                            div.col-xs-12.col-sm-6
                                div.row.flex
                                    div.col-xs-6.vf-center
                                        div.row-table-cell
                                            div.row-table-content.row-table-header #{__('fax_number')}
                                    div.col-xs-6.vf-center
                                        div.row-table-cell
                                            div.row-table-content
                                                span(editable-text="ctrl.selectedCustomer.faxNumber" e-name="faxNumber" e-required) {{ctrl.selectedCustomer.faxNumber || #{__('not_set')}}}
                        div.row.flex
                            div.col-xs-6.col-sm-3.vf-center
                                div.row-table-cell
                                    div.row-table-content.row-table-header #{__('address_')}
                            div.col-xs-12.col-sm-9.vf-center
                                div.row-table-cell
                                    div.row-table-content
                                        span(editable-text="ctrl.selectedCustomer.address" e-name="address" e-required) {{ctrl.selectedCustomer.address || #{__('not_set')}}}

                        div.text-right(ng-show='customerEditForm.$visible')
                            button.btn.btn-default(ng-disabled='customerEditForm.$waiting' ng-click='customerEditForm.$cancel()')
                                span #{__('cancel_')}
                            button.btn.btn-primary.margin-left-15px(type='submit' ng-disabled='customerEditForm.$waiting')
                                span #{__('save_')}

                    label #{__('customer_contact')}
                    div.table-responsive
                        table.table.table-striped.table-hover
                            thead
                                tr
                                    th #{__('name_')}
                                    th #{__('position_')}
                                    th #{__('phoneNumber_')}
                                    th #{__('email_')}
                                    th #{__('discount_')}
                            tbody
                                //tr(ng-repeat='')


    include ../dialogs/admin-customer-add
