div.admin-product-category(ng-controller='AdminProductCategoryController as ctrl' ng-init='ctrl.init()')
    div
        div.row
            div.col-xs-12.col-sm-6
                div.panel-header-title #{__('product_category')}

    div.panel.panel-default.main-panel
        div.panel-body
            div.text-center(ng-show='ctrl.initializing')
                i.fa.fa-spinner.fa-spin
            div(ng-hide='ctrl.initializing')
                div.row
                    div.col-xs-12.col-sm-6
                        div.margin-bottom-15px
                            div.row.flex
                                div.col-xs-6.vf-center
                                    label #{__('product_category')}
                                div.col-xs-6.text-right.vf-center
                                    button.btn.btn-default.btn-sm(ng-click='ctrl.addCategory()')
                                        i.fa.fa-plus
                                        span &nbsp; #{__('add_')}
                            div.margin-top-15px
                                div.input-group.margin-bottom-15px
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-search
                                    input.form-control(ng-model='ctrl.categoryFilter' ng-change='ctrl.filterCategory()')

                                div.text-center.no-data(ng-show='!ctrl.isNewCategory && (!ctrl.categories || !ctrl.categories.length)')
                                    span #{__('no_data')}

                                div.category(ng-show='ctrl.isNewCategory')
                                    a(href="" editable-text="ctrl.newCategory.name" buttons="no" e-form='newCategoryForm' oncancel='ctrl.cancelCategory()' onbeforesave='ctrl.updateCategory(ctrl.newCategory, $data)') {{ ctrl.newCategory.name || '#{__("not_set")}'}}
                                div.category-wrapper(ng-repeat='category in ctrl.filteredCategories')
                                    div.category(ng-class='{active: ctrl.selectedCategory._id === category._id}' ng-click='ctrl.selectCategory(category)')
                                        div.row.flex
                                            div.col-xs-8.vf-center
                                                span(ng-hide='!category.isBeingRemoved && ctrl.selectedCategory._id === category._id') {{category.name}}
                                                a(ng-show='!category.isBeingRemoved && ctrl.selectedCategory._id === category._id' href="" editable-text="category.name" buttons="no" onbeforesave='ctrl.updateCategory(category, $data)') {{ category.name || '#{__("not_set")}'}}
                                            div.col-xs-4.vf-center.text-right
                                                span(ng-show='ctrl.selectedCategory._id === category._id || category.isBeingRemoved')
                                                    button.btn.btn-danger.btn-xs.margin-right-5px(ng-click='ctrl.removeCategory(category)' ng-disabled='category.size > 0 || category.isBeingRemoved')
                                                        i.fa.fa-trash(ng-hide='category.isBeingRemoved')
                                                        i.fa.fa-spinner.fa-spin(ng-show='category.isBeingRemoved')
                                                span.badge {{category.typeCount || "0"}}
                    div.col-xs-12.col-sm-6
                        div
                            div.row.flex
                                div.col-xs-6.vf-center
                                    label #{__('product_type')}
                                div.col-xs-6.text-right.vf-center
                                    button.btn.btn-default.btn-sm(ng-disabled='!ctrl.selectedCategory' ng-click='ctrl.addType()')
                                        i.fa.fa-plus
                                        span &nbsp; #{__('add_')}
                            div.margin-top-15px
                                div.input-group.margin-bottom-15px
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-search
                                    input.form-control(ng-model='ctrl.typeFilter' ng-change='ctrl.filterType()')

                                div.text-center(ng-show='ctrl.loadingTypes')
                                    i.fa.fa-spinner.fa-spin

                                div.text-center.no-data(ng-show='!ctrl.loadingTypes && !ctrl.isNewType && (!ctrl.selectedCategory.types || !ctrl.selectedCategory.types.length)')
                                    span #{__('no_data')}

                                div.category(ng-show='ctrl.isNewType')
                                    a(href="" editable-text="ctrl.newType.name" buttons="no" e-form='newTypeForm' oncancel='ctrl.cancelType()' onbeforesave='ctrl.updateType(ctrl.newType, $data)') {{ ctrl.newType.name || '#{__("not_set")}'}}

                                div.category-wrapper(ng-repeat='type in ctrl.filteredTypes')
                                    div.category(ng-class='{active: ctrl.selectedType._id === type._id}' ng-click='ctrl.selectType(type)')
                                        div.row.flex
                                            div.col-xs-8.vf-center
                                                span(ng-hide='!type.isBeingRemoved && ctrl.selectedType._id === type._id') {{type.name}}
                                                a(ng-show='!type.isBeingRemoved && ctrl.selectedType._id === type._id' href="" editable-text="type.name" buttons="no" onbeforesave='ctrl.updateType(type, $data)') {{ type.name || '#{__("not_set")}'}}
                                            div.col-xs-4.vf-center.text-right
                                                span(ng-show='ctrl.selectedType._id === type._id || type.isBeingRemoved')
                                                    button.btn.btn-danger.btn-xs.margin-right-5px(ng-click='ctrl.removeType(type)' ng-disabled='type.size > 0 || type.isBeingRemoved')
                                                        i.fa.fa-trash(ng-hide='type.isBeingRemoved')
                                                        i.fa.fa-spinner.fa-spin(ng-show='type.isBeingRemoved')
                                                span.badge {{type.size || "0"}}
