div.admin-product-list(ng-controller='AdminProductListController as ctrl' ng-init='ctrl.init()')
    div
        div.row
            div.col-xs-12.col-sm-6
                div.panel-header-title #{__('product_list')}

    div.panel.panel-default.main-panel
        div.panel-body
            div.text-center(ng-show='ctrl.initializing')
                i.fa.fa-spinner.fa-spin
            div(ng-hide='ctrl.initializing')
                div.row
                    div.col-xs-12.col-sm-6
                        div
                            div
                                label #{__('search_product')}
                                div.panel.panel-default
                                    div.panel-body
                                        div.row
                                            div.col-xs-12.col-sm-6
                                                div.margin-bottom-15px
                                                    div.row
                                                        div.col-xs-6
                                                            label #{__('product_group')}
                                                        div.col-xs-6.text-right
                                                            button.btn.btn-xs.btn-default(ng-click='ctrl.clearSelectedGroup()')
                                                                i.fa.fa-window-close.text-danger
                                                    select#select_product_group.form-control

                                            div.col-xs-12.col-sm-6
                                                div.margin-bottom-15px
                                                    div.row
                                                        div.col-xs-6
                                                            label #{__('product_type')}
                                                        div.col-xs-6.text-right
                                                            button.btn.btn-xs.btn-default(ng-click='ctrl.clearSelectedType()')
                                                                i.fa.fa-window-close.text-danger
                                                    select#select_product_type.form-control(ng-disabled='!ctrl.selectedProductGroup')
                                        div.row
                                            div.col-xs-12.col-sm-6
                                                div.margin-bottom-15px
                                                    div.row
                                                        div.col-xs-6
                                                            label #{__('product_brand')}
                                                        div.col-xs-6.text-right
                                                            button.btn.btn-xs.btn-default(ng-click='ctrl.clearSelectedBrand()')
                                                                i.fa.fa-window-close.text-danger
                                                    select#select_product_brand.form-control()
                                                            button.btn.btn-default(ng-click='ctrl.clearSelectedBrand()')
                                            div.col-xs-12.col-sm-6
                                                div.margin-bottom-15px
                                                    div.row
                                                        div.col-xs-6
                                                            label #{__('suppliers_')}
                                                        div.col-xs-6.text-right
                                                            button.btn.btn-xs.btn-default(ng-click='ctrl.clearSelectedSupplier()')
                                                                i.fa.fa-window-close.text-danger
                                                    select#select_product_supplier.form-control()


                                        div
                                            label #{__('model_filter')}
                                            div.input-group.margin-bottom-15px
                                                span.input-group-addon
                                                    span.glyphicon.glyphicon-search
                                                input.form-control(ng-model='ctrl.productFilter' ng-change='ctrl.filterProduct()' ng-disabled='ctrl.queryingProduct')

                                        div.search-result
                                            div(ng-show='!ctrl.queryingProduct && ctrl.filteredProducts && ctrl.filteredProducts.length')
                                                div.product-record(ng-click='ctrl.selectProduct(product)' ng-class='{selected: product === ctrl.selectedProduct}' ng-repeat='product in ctrl.filteredProducts')
                                                    div.row
                                                        div.col-xs-6
                                                            span {{product.model}}
                                            div.text-center.no-data(ng-show='(!ctrl.filteredProducts || !ctrl.filteredProducts.length) && !ctrl.queryingProduct && !ctrl.queryFailed')
                                                span #{__('no_result')}
                                            div.text-center(ng-show='ctrl.queryFailed')
                                                span.text-danger
                                                    i.fa.fa-exclamation-triangle
                                                    span &nbsp; {{ctrl.queryFailed}}
                                            div.text-center(ng-show='ctrl.queryingProduct')
                                                span
                                                    i.fa.fa-spinner.fa-spin

                    div.col-xs-12.col-sm-6
                        div
                            div
                                div.row
                                    div.col-xs-6
                                        label #{__('product_details')}
                                    div.col-xs-6.text-right
                                        button.btn.btn-xs.btn-default(ng-click='ctrl.startEditing()' ng-disabled='!ctrl.product || editProductForm.$waiting')
                                            i.fa.fa-pencil
                                            span &nbsp; #{__('edit_')}
                                div.panel.panel-default
                                    div.panel-body
                                        div.text-center(ng-show='ctrl.loadingProduct')
                                            i.fa.fa-spinner.fa-spin
                                        div(ng-show='ctrl.product')
                                            form(editable-form='' name='editProductForm' onbeforesave='ctrl.updateProduct($data)')
                                                div.row.margin-bottom-15px
                                                    div.col-xs-12.col-sm-6
                                                        div.row
                                                            div.col-xs-6
                                                                label #{__('model_')}
                                                            div.col-xs-6
                                                                div.text-right
                                                                    div(editable-text="ctrl.product.model" e-name="model" onbeforesave='ctrl.checkProductAttribute("model", $data, ctrl.product.model)' e-required) {{ctrl.product.model}}
                                                    div.col-xs-12.col-sm-6.text-right
                                                        span {{ctrl.product.brandID.name}} ({{global.utils.originNameFromCode(ctrl.product.brandID.origin)}})
                                                div.row.margin-bottom-15px
                                                    div.col-xs-6
                                                        label #{__('in_stock')}
                                                        a.margin-left-15px(href='' ng-click='ctrl.showAvailableInStocks()') (#{__('detail_')})
                                                    div.col-xs-6
                                                        div.text-right {{ctrl.product.available}}/{{ctrl.product.stockPeek}}
                                                div.row.margin-bottom-15px
                                                    div.col-xs-6
                                                        label #{__('average_import_price')}
                                                        a.margin-left-15px(href='' ng-click='ctrl.showImportPrice()') (#{__('detail_')})
                                                    div.col-xs-6
                                                        div.text-right {{ctrl.product.lastInStocks? (ctrl.calculateAveragePrice(ctrl.product.lastInStocks) | currency : '' : 0) : '#{__("not_available")}'}}
                                                div.row.margin-bottom-15px
                                                    div.col-xs-6
                                                        label #{__('last_export_price')}
                                                        a.margin-left-15px(href='' ng-click='ctrl.changeExportPriceManually(ctrl.product,"'+__('change_product_price_dialog_header')+'")') (#{__('change_')})
                                                    div.col-xs-6
                                                        div.text-right {{ctrl.product.lastOutStock? (ctrl.product.lastOutStock.price | currency : '' : 0) : '#{__("not_available")}'}}

                                                div.margin-bottom-15px
                                                    label #{__('product_images')}
                                                    div.panel.panel-default
                                                        div.panel-body(ngf-drop-disabled='!ctrl.product.isBeingEdited' ngf-drop="ctrl.addProductPhoto($files)" ngf-drag-over-class="'img-upload-drop-over'" ngf-max-files='5' ngf-multiple='true' ngf-pattern="'image/*'")
                                                            div.img-wrapper(ng-repeat='image in ctrl.product.photos')
                                                                img(ng-if='!image.localPhoto' ng-src='{{image.url+"?decache=" + Date.now()}}' image-on-load='image.loaded = true')
                                                                img(ng-if='image.localPhoto' ngf-thumbnail='image.file')
                                                                span.info-float.close-float.text-danger(ng-click='ctrl.removeProductImage(image, "'+__('confirm_remove_product_photo')+'")' ng-hide='!ctrl.product.isBeingEdited || !image.loaded || image.isBeingRemoved || image.isBeingUploaded || image.uploadProceeded')
                                                                    i.fa.fa-minus-circle(ng-if='image.localPhoto')
                                                                    i.fa.fa-times-circle(ng-if='!image.localPhoto')
                                                                span.info-float(ng-show='image.isBeingUploaded || !image.loaded || image.isBeingRemoved')
                                                                    i.fa.fa-refresh.fa-spin
                                                                span.info-float.text-success(ng-show='image.uploadSucceeded === true')
                                                                    i.fa.fa-check-circle
                                                                span.info-float.text-warning(ng-show='image.uploadSucceeded === false')
                                                                    i.fa.fa-exclamation-circle
                                                            div.img-upload-wrapper(ng-show='ctrl.product.isBeingEdited && (ctrl.product.photos && ctrl.product.photos.length < 5)')
                                                                label
                                                                    i.fa.fa-plus-circle
                                                                    input(style='display: none' type='file', ngf-select="ctrl.addProductPhoto($files)", ngf-multiple='true' ngf-max-files='5', ngf-pattern="'image/*'")

                                                div.margin-bottom-15px
                                                    label #{__('description_')}
                                                    div(editable-textarea='ctrl.product.description' e-name='description')
                                                        pre {{ctrl.product.description}}

                                                div.margin-bottom-15px
                                                    label #{__('suppliers_')}
                                                    select#select_product_suppliers.form-control(ng-if='ctrl.product.isBeingEdited')
                                                    div.panel.panel-default(ng-hide='ctrl.product.isBeingEdited')
                                                        div.panel-body
                                                            div.text-center.no-data(ng-hide='ctrl.product.supplierIDs && ctrl.product.supplierIDs.length')
                                                                span #{__('no_data')}
                                                            a.margin-right-15px(target='_blank' ng-repeat='supplier in ctrl.product.supplierIDs' href='#/admin/supplier?supplierID={{supplier._id}}')
                                                                span {{supplier.name}} &nbsp;
                                                                i.fa.fa-external-link-square

                                                div.text-right(ng-show='editProductForm.$visible')
                                                    button.btn.btn-default.margin-right-5px(type='button' ng-click='ctrl.cancelEditing()' ng-disabled='editProductForm.$waiting')
                                                        span #{__('cancel_')}
                                                    button.btn.btn-primary(type='submit' ng-disabled='editProductForm.$waiting')
                                                        span(ng-show='editProductForm.$waiting')
                                                            i.fa.fa-spinner.fa-spin
                                                            span &nbsp;
                                                        span #{__('save_')}

    include ../../dialogs/change-value-dialog

