div.admin-product-list(ng-controller='AdminProductListController as ctrl' ng-init='ctrl.init()')
    div
        div.row
            div.col-xs-12.col-sm-6
                div.panel-header-title #{__('product_list')}

    div.panel.panel-default
        div.panel-body
            div.text-center(ng-show='ctrl.initializing')
                i.fa.fa-spinner.fa-spin
            div(ng-hide='ctrl.initializing')
                div.row
                    div.col-xs-12.col-sm-6
                        div
                            div
                                label #{'search_product'}
                                div.panel.panel-default
                                    div.panel-body
                                        div.row
                                            div.col-xs-12.col-sm-6
                                                div.margin-bottom-15px
                                                    label #{__('product_group')}
                                                    select#select_product_group.form-control()

                                            div.col-xs-12.col-sm-6
                                                div.margin-bottom-15px
                                                    label #{__('product_type')}
                                                    select#select_product_type.form-control(ng-disabled='!ctrl.selectedProductGroup')
                                        div.row
                                            div.col-xs-12.col-sm-6
                                                div.margin-bottom-15px
                                                    label #{__('product_brand')}
                                                    select#select_product_brand.form-control()
                                            div.col-xs-12.col-sm-6
                                                div.margin-bottom-15px
                                                    label #{__('suppliers_')}
                                                    select#select_product_suppliers.form-control()

                                        div
                                            label #{__('model_filter')}
                                            div.input-group.margin-bottom-15px
                                                span.input-group-addon
                                                    span.glyphicon.glyphicon-search
                                                input.form-control(ng-model='ctrl.productFilter' ng-change='ctrl.filterProduct()' ng-disabled='ctrl.queryingProduct')

                                        div.search-result
                                            div(ng-show='!ctrl.queryingProduct && ctrl.filteredProducts && ctrl.filteredProducts.length')
                                                div.product-record(ng-repeat='product in ctrl.filteredProducts')
                                                    span {{product.model}}
                                                    span {{product._id}}
                                            div.text-center.no-data(ng-show='(!ctrl.filteredProducts || !ctrl.filteredProducts.length) && !ctrl.queryingProduct && !ctrl.queryFailed')
                                                span #{__('no_result')}
                                            div.text-center(ng-show='ctrl.queryFailed')
                                                span.text-danger
                                                    i.fa.fa-exclamation-triangle
                                                    span &nbsp; {{ctrl.queryFailed}}
                                            div.text-center(ng-show='ctrl.queryingProduct')
                                                span
                                                    i.fa.fa-spinner.fa-spin

                    div.col-xs-12.col-sm-6
                        div
                            div
                                label #{'product_details'}
                                div.panel.panel-default
                                    div.panel-body
