div.admin-product-new(ng-controller='AdminProductAddController as ctrl' ng-init='ctrl.init()')
    div
        div.row
            div.col-xs-12.col-sm-6
                div.panel-header-title #{__('add_new_product')}
            div.col-xs-12.col-sm-6.margin-bottom-15px
                div.text-right
                    a.btn.btn-default(href='#/admin/product/list')
                        span #{__('back_to_product_list')}


    div.panel.panel-default.main-panel
        div.panel-body
            form(editable-form='', name='addProductForm' shown='true' onbeforesave='ctrl.addProduct($data)')
                fieldset(ng-disabled='ctrl.addingProduct || (ctrl.uploadingPhotos && ctrl.uploadedCount < ctrl.productImages.length)')
                    div.row.flex
                        div.col-xs-6.vf-center
                            label
                                input(type='checkbox' ng-model='ctrl.keepPage')
                                span &nbsp; #{__('keep_page')}
                        div.col-xs-6.text-right.vf-center
                            button.btn.btn-primary.action(type='submit' ng-disabled='!ctrl.selectedType || !ctrl.selectedBrand')
                                span(ng-show='ctrl.addingProduct')
                                    i.fa.fa-spin.fa-spinner
                                    span &nbsp;
                                span #{__('add_')}
                    div.row.margin-top-15px
                        div.col-xs-12.col-sm-6
                            div
                                div.margin-bottom-15px
                                    div.row
                                        div.col-xs-6
                                            label #{__('product_group')}
                                        div.col-xs-6.text-right
                                            label
                                                input(type='checkbox' ng-model='ctrl.keepGroup' ng-checked='ctrl.keepGroup || ctrl.keepType')
                                                span &nbsp; #{__('keep_')}
                                    group-selector(global='global' selected-group='ctrl.selectedGroup' on-group-changed='ctrl.changeGroup(selectedGroup)')

                                div.margin-bottom-15px
                                    div.row
                                        div.col-xs-6
                                            label #{__('product_type')}
                                        div.col-xs-6.text-right
                                            label
                                                input(type='checkbox' ng-model='ctrl.keepType' ng-checked='ctrl.keepGroup && ctrl.keepType')
                                                span &nbsp; #{__('keep_')}
                                    type-selector(global='global' selected-type='ctrl.selectedType' selected-group='ctrl.selectedGroup' on-type-changed='ctrl.changeType(selectedType)')

                                div.margin-bottom-15px
                                    div.row
                                        div.col-xs-6
                                            label #{__('product_brand')}
                                        div.col-xs-6.text-right
                                            label
                                                input(type='checkbox' ng-model='ctrl.keepBrand')
                                                span &nbsp; #{__('keep_')}
                                    brand-selector(global='global' selected-brand='ctrl.selectedBrand' on-brand-changed='ctrl.changeBrand(selectedBrand)')

                                div.margin-bottom-15px
                                    label #{__('model_')}
                                    div(editable-text="ctrl.product.model" e-name="model" e-form='addProductForm' onbeforesave='ctrl.checkProductAttribute("model", $data)' e-required)

                                div.margin-bottom-15px
                                    label #{__('allowed_branches')}
                                    multi-branches-selector(global='global' pre-selected-branch-ids='ctrl.preSelectedBranchIDs' on-branches-changed='ctrl.changeBranches(selectedBranches)')

                                div.margin-bottom-15px
                                    label #{__('suppliers_')}
                                    multi-suppliers-selector(global='global' selected-suppliers='ctrl.selectedSuppliers' on-supplier-added='ctrl.addSupplier(supplier)' on-supplier-removed='ctrl.removeSupplier(supplier)')

                        div.col-xs-12.col-sm-6
                            div
                                div.margin-bottom-15px
                                    div.row
                                        div.col-xs-12.col-sm-6
                                            label #{__('stock_init')}
                                            input.form-control(type='number' ng-model='ctrl.product.initInStock')
                                        div.col-xs-12.col-sm-6
                                            label #{__('store_branch')}
                                            branch-selector(global='global' select-disabled='!global.utils.isSuperAdmin()' selected-branch='ctrl.selectedBranch' on-branch-changed='ctrl.changeBranch(selectedBranch)')
                                div.row.margin-bottom-15px
                                    div.col-xs-12.col-sm-6
                                        label #{__('in_price_init')}
                                        input.form-control(cleave="global.utils.cleaveOptions.currency" type='text' ng-model='ctrl.product.initInPrice' )
                                    div.col-xs-12.col-sm-6
                                        label #{__('out_price_init')}
                                        input.form-control(cleave="global.utils.cleaveOptions.currency" type='text' ng-model='ctrl.product.price' )
                                div.margin-bottom-15px
                                    label #{__('product_images')}
                                    div.panel.panel-default(style='min-height: 268px')
                                        div.panel-body(ngf-drop-disabled='ctrl.addingProduct' ngf-drop="ctrl.loadProductFiles($files)" ngf-drag-over-class="'img-upload-drop-over'" ngf-max-files='5' ngf-multiple='true' ngf-pattern="'image/*'")
                                            div.img-wrapper(ng-repeat='image in ctrl.productImages')
                                                img(ngf-thumbnail="image" image-on-load='image.loaded = true')
                                                span.info-float.close-float.text-danger(ng-click='ctrl.removeProductImage(image)' ng-hide='image.isBeingUploaded || !image.loaded || image.uploadProceeded')
                                                    i.fa.fa-minus-circle
                                                span.info-float(ng-show='image.isBeingUploaded || !image.loaded')
                                                    i.fa.fa-refresh.fa-spin
                                                span.info-float.text-success(ng-show='image.uploadSucceeded === true')
                                                    i.fa.fa-check-circle
                                                span.info-float.text-warning(ng-show='image.uploadSucceeded === false')
                                                    i.fa.fa-exclamation-circle
                                            div.img-upload-wrapper(ng-hide='ctrl.productImages && ctrl.productImages.length === 5 || ctrl.addingProduct')
                                                label
                                                    i.fa.fa-plus-circle
                                                    input(style='display: none' type='file', ngf-select="ctrl.loadProductFiles($files)", ngf-multiple='true' ngf-max-files='5', ngf-pattern="'image/*'")

                    div.margin-bottom-15px
                        label #{__('description_')}
                        textarea.form-control.fixed-textarea(ng-model='ctrl.product.description' style='height: 350px')

                    div.row.flex
                        div.col-xs-6.vf-center
                        div.col-xs-6.text-right.vf-center
                            button.btn.btn-primary.action(type='submit' ng-disabled='!ctrl.selectedType || !ctrl.selectedBrand')
                                span(ng-show='ctrl.addingProduct')
                                    i.fa.fa-spin.fa-spinner
                                    span &nbsp;
                                span #{__('add_')}

