script(type="text/ng-template" id="quotationDetailsDialog")
    .modal-header(ng-init='init()')
        button.close(type='button', ng-click='close()') x
        div.header #{__('quotation_details')}
    .modal-body
        div.text-center(ng-show='loadingQuotation')
            i.fa.fa-spinner.fa-spin
        div(ng-hide='loadingQuotation')
            div
                table.table.table-striped.table-hover
                    thead
                        tr
                            th #{__('type_')}
                            th #{__('model_')}
                            th.text-right #{__('amount_')}
                            th.text-right #{__('price_')}
                            th.text-right #{__('subtotal_')}
                    tbody
                        tr(ng-repeat='selection in quotation.selections')
                            td
                                div {{selection.productID.typeID.name}}
                            td
                                div {{selection.productID.model}}
                            td
                                div.text-right {{selection.amount | currency : "" : ""}}
                            td
                                div.text-right {{selection.price | currency : "" : ""}}
                            td
                                div.text-right {{selection.price * selection.amount | currency : '' : ''}}
                        tr(ng-if='quotation.selections.length' style='font-size: 20px')
                            td(colspan='4s')
                                div.text-right #{__('total_order_value')}
                            td
                                div.text-right(style='font-weight: bold')
                                    span {{calculateTotalOrderValue() | currency : '' : ''}}
            div
                label #{__('terms_')}
                pre {{quotation.terms}}
    .modal-footer
        div.row
            fieldset(ng-disabled='loadingQuotation')
                div.col-xs-6.text-left
                    button.btn-sm.btn.btn-success.margin-right-5px.margin-bottom-5px
                        i.fa.fa-download
                        span &nbsp; #{__('export_excel')}
                    button.btn-sm.btn.btn-default(style='margin-left:0px; margin-bottom: 5px')
                        i.fa.fa-download
                        span &nbsp; #{__('export_pdf')}
                div.col-xs-6.text-right
                    button.btn-sm.btn.btn-default.margin-bottom-5px
                        span #{__('fork_order')}
                    button.btn-sm.btn.btn-primary(style='margin-left:5px; margin-bottom: 5px; margin-right: 0px')
                        span #{__('reversion_')}


