script(type="text/ng-template" id="selectProductDialog")
    .modal-header(ng-init='init()')
        button.close(type='button', ng-click='close()') x
        div.header #{__('add_product_to_order')}
    .modal-body
        div.margin-bottom-15px
            label #{__('stock_available')}
            input.huge-input.form-control.text-right(readonly ng-value='options.stockAvailable? (options.stockAvailable | currency : "" : 0) : "N/A"')
        div.margin-bottom-15px
            label #{__('selection')}
            input.huge-input.form-control.text-right(cleave="options.global.utils.cleaveOptions.currency" ng-model="amount" autofocus)
        div.margin-bottom-15px
            div.row
                div.col-xs-6
                    label #{__('price_adjust')}
                div.col-xs-6
                    div.text-right
                        button.btn.btn-xs.btn-default(ng-click='switchAbsolute()')
                            span
                                span &nbsp;
                                span(ng-show='absoluteMode')
                                    i.far.fa-money-bill-alt
                                span(ng-hide='absoluteMode')
                                    i.fas.fa-percent
                                span &nbsp;

            input.huge-input.form-control.text-right(cleave="options.global.utils.cleaveOptions.currency" ng-model='adjustValue' ng-change="adjustPrice()")
        div.margin-bottom-15px.row
            div.col-xs-6
                label #{__('price_')}
                div.huge-input.text-right {{formatValue(options.oldPrice)}}
            div.col-xs-6
                label #{__('price_adjusted')}
                div.huge-input.text-right {{formatValue(getAdjustedPrice())}}
        div.margin-bottom-15px
            label #{__('note_')}
            textarea.fixed-textarea.form-control(ng-model="note")

        div.text-right
            button.action.btn.btn-default.margin-right-5px(ng-click='close()')
                span #{__('close_')}
            button.action.btn.btn-primary(ng-disabled='!amount' ng-click='selectProduct()')
                span #{__('OK_')}
