.navbar.navbar-default(role='navigation' ng-controller='NavbarController as ctrl' ng-init='ctrl.init()')
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='') #{__('bthg_manage')}
    .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right(ng-cloak)
            li()
                a.dropdown-toggle(href='', data-toggle='dropdown')
                    img.img-language(ng-src='/images/flags_icon/{{global.locale}}.svg')
                    b.caret
                ul.dropdown-menu
                    li
                        a(href='' ng-class='{active: global.locale === "en"}' ng-click='ctrl.changeLanguage("en")')
                            img.img-language( src='/images/flags_icon/en.svg' )
                            span #{__('english_')}
                    li
                        a(href='' ng-class='{active: global.locale === "vi"}' ng-click='ctrl.changeLanguage("vi")')
                            img.img-language( src='/images/flags_icon/vi.svg' )
                            span #{__('vietnamese_')}

            li(ng-show='global.user')
                a(href='' ng-click='ctrl.logout()')
                    span {{global.user.username}} &nbsp;
                    i.fa.fa-sign-out

            li(ng-show='!global.user')
                a(href='' ng-click='ctrl.login()')
                    i.fa.fa-sign-in
                    span &nbsp; #{__('login_')}

        ul.nav.navbar-nav(ng-cloak ng-show='global.utils.isPath("admin")')
            li(ng-class='{active: global.utils.isPath("admin/index")}')
                a(href='#/admin/index') #{__('home')}
            li(ng-class='{active: global.utils.isPath("admin/customer")}')
                a(href='#/admin/customer') #{__('customer_manage')}

            li(ng-class='{active: global.utils.isPath("admin/supplier")}')
                a(href='#/admin/supplier') #{__('supplier_manage')}

            li(ng-class='{active: global.utils.isPath("admin/product")}')
                a.dropdown-toggle(href='', data-toggle='dropdown')
                    span #{__('product_')}
                    b.caret
                ul.dropdown-menu
                    li(ng-class='{active: global.utils.isPath("admin/product/list")}')
                        a(href='#/admin/product/list') #{__('find_product')}
                    li(ng-class='{active: global.utils.isPath("admin/product/category")}')
                        a(href='#/admin/product/category') #{__('product_category')}
                    li(ng-class='{active: global.utils.isPath("admin/product/brand")}')
                        a(href='#/admin/product/brand') #{__('product_brand')}
                    li.divider
                    li(ng-class='{active: global.utils.isPath("admin/product/new")}')
                        a(href='#/admin/product/new') #{__('new_product')}

            li(ng-class='{active: global.utils.isPath("admin/outorder")}')
                a.dropdown-toggle(href='', data-toggle='dropdown')
                    span #{__('outorder_')}
                    b.caret
                ul.dropdown-menu
                    li(ng-class='{active: global.utils.isPath("admin/outorder/list")}')
                        a(href='#/admin/outorder/list') #{__('find_outorder')}
                    li.divider
                    li(ng-class='{active: global.utils.isPath("admin/outorder/new")}')
                        a(href='#/admin/outorder/new') #{__('new_outorder')}
