div.partials_product-search
    div.row
        div.col-xs-12.col-sm-6
            div.margin-bottom-15px
                div.row
                    div.col-xs-9
                        label #{__('product_group')}
                    div.col-xs-3.text-right
                        button.btn.btn-xs.btn-default(ng-click='$ctrl.changeSelectedGroup(null)')
                            i.fa.fa-window-close.text-danger
                group-selector(global='$ctrl.global' selected-group='$ctrl.selectedGroup' on-group-changed='$ctrl.changeSelectedGroup(selectedGroup)')

        div.col-xs-12.col-sm-6
            div.margin-bottom-15px
                div.row
                    div.col-xs-9
                        label #{__('product_type')}
                    div.col-xs-3.text-right
                        button.btn.btn-xs.btn-default(ng-click='$ctrl.changeSelectedType(null)')
                            i.fa.fa-window-close.text-danger
                type-selector(global='$ctrl.global' selected-type='$ctrl.selectedType' selected-group='$ctrl.selectedGroup' on-type-changed='$ctrl.changeSelectedType(selectedType)')
    div.row
        div.col-xs-12.col-sm-6
            div.margin-bottom-15px
                div.row
                    div.col-xs-9
                        label #{__('product_brand')}
                    div.col-xs-3.text-right
                        button.btn.btn-xs.btn-default(ng-click='$ctrl.changeSelectedBrand(null)')
                            i.fa.fa-window-close.text-danger
                brand-selector(global='$ctrl.global' selected-brand='$ctrl.selectedBrand' on-brand-changed='$ctrl.changeSelectedBrand(selectedBrand)')
        div.col-xs-12.col-sm-6
            div.margin-bottom-15px
                div.row
                    div.col-xs-9
                        label #{__('supplier_')}
                    div.col-xs-3.text-right
                        button.btn.btn-xs.btn-default(ng-click='$ctrl.changeSelectedSupplier(null)')
                            i.fa.fa-window-close.text-danger
                supplier-selector(global='$ctrl.global' selected-supplier='$ctrl.selectedSupplier' on-supplier-changed='$ctrl.changeSelectedSupplier(selectedSupplier)')

    div.row
        div.col-xs-12.col-sm-6
            div.row
                div.col-xs-9
                    label #{__('model_filter')}
                div.col-xs-3.text-right
                    button.btn.btn-xs.btn-default(ng-click='$ctrl.refreshProducts()')
                        i.fa.fa-refresh
                        //span &nbsp; #{__('refresh_')}
            div.input-group.margin-bottom-15px
                span.input-group-addon
                    span.glyphicon.glyphicon-search
                input.form-control(ng-model='$ctrl.productFilter' ng-change='$ctrl.filterProduct()' ng-disabled='$ctrl.queryingProduct')
        div.col-xs-12.col-sm-6
            label #{__('stock_filter')}
            branch-selector(global='$ctrl.global' select-disabled='!$ctrl.global.utils.isSuperAdmin()' selected-branch='$ctrl.selectedBranch' on-branch-changed='$ctrl.changeBranch(selectedBranch)')

    div.table-responsive.margin-bottom-5px
        table.table.table-striped.table-hover.custom-table(style='max-height:300px' ng-show='!$ctrl.queryingProduct && $ctrl.filteredProducts && $ctrl.filteredProducts.length')
            thead
                tr
                    th #{__('type_')}
                    th #{__('model_')}
                    th #{__('available_')}
                    th #{__('last_price')}
            tbody
                tr(ng-click='$ctrl.selectProduct(product)' ng-repeat='product in $ctrl.filteredProducts track by $index' ng-class='{selected: product === $ctrl.selectedProduct}' )
                    td
                        button.btn.btn-xs.btn-default.margin-right-5px(ng-click='$ctrl.showProductDetails(product); $event.stopPropagation();')
                            i.fa.fa-question-circle
                        span {{product.typeID.name}}
                    td
                        span {{product.model}}
                    td
                        span(style='white-space: pre') {{$ctrl.calculateStockSumDisplay($ctrl.selectedBranch, product)}}
                    td.text-right
                        span {{product.lastOutStock? (product.lastOutStock.price | currency : '' : '') : '-'}}
        div.text-center.no-data(ng-show='(!$ctrl.filteredProducts || !$ctrl.filteredProducts.length) && !$ctrl.queryingProduct && !$ctrl.queryFailed')
            span #{__('no_result')}
        div.text-center(ng-show='$ctrl.queryFailed')
            span.text-danger
                i.fa.fa-exclamation-triangle
                span &nbsp; {{$ctrl.queryFailed}}
        div.text-center(ng-show='$ctrl.queryingProduct')
            span
                i.fa.fa-spinner.fa-spin
