div.partials_quotation-details
    div.text-center(ng-show='$ctrl.loadingQuotation')
        i.fa.fa-spinner.fa-spin
    div(ng-hide='$ctrl.loadingQuotation')
        div
            table.table.table-striped.table-hover
                thead
                    tr
                        th #{__('type_')}
                        th #{__('model_')}
                        th.text-right #{__('amount_')}
                        th.text-right #{__('price_')}
                        th.text-right #{__('subtotal_')}
                tbody
                    tr(ng-repeat='selection in $ctrl.quotation.selections')
                        td
                            div {{selection.productID.typeID.name}}
                        td
                            div {{selection.productID.model}}
                        td
                            div.text-right {{selection.amount | currency : "" : ""}}
                        td
                            div.text-right {{selection.price | currency : "" : ""}}
                        td
                            div.text-right {{selection.price * selection.amount | currency : '' : ''}}
                    tr(ng-if='$ctrl.quotation.selections.length' style='font-size: 20px')
                        td(colspan='4s')
                            div.text-right #{__('total_order_value')}
                        td
                            div.text-right(style='font-weight: bold')
                                span {{$ctrl.calculateTotalOrderValue() | currency : '' : ''}}
        div
            label #{__('terms_')}
            textarea.form-control.fixed-textarea(readonly style='min-height: 200px') {{$ctrl.quotation.terms}}
    div.row.margin-top-15px
        fieldset(ng-disabled='$ctrl.loadingQuotation')
            div.col-xs-6.text-left
                button.btn-sm.btn.btn-success(style='margin-right: 5px; margin-bottom: 5px' ng-click='$ctrl.confirmOrder()')
                    i.fa.fa-handshake-o
                    span &nbsp; #{__('confirm_order')}
                button.btn-sm.btn.btn-default.margin-bottom-5px(style='margin-left: 0px; margin-bottom: 5px' ng-disabled='$ctrl.exportingPDF' ng-click='$ctrl.exportPDF()')
                    span(ng-show='$ctrl.exportingPDF')
                        i.fa.fa-spinner.fa-spin
                        span &nbsp;
                    span(ng-hide='$ctrl.exportingPDF')
                        i.fa.fa-download
                        span &nbsp;
                    span #{__('export_pdf')}

            div.col-xs-6.text-right
                a.btn-sm.btn.btn-default.margin-bottom-5px(href='#/admin/outorder/new?mode=clone&orderID={{$ctrl.quotation.outStockOrderID._id}}&quotationID={{$ctrl.quotation._id}}')
                    span #{__('fork_order')}
                a.btn-sm.btn.btn-primary(href='#/admin/outorder/new?mode=edit&orderID={{$ctrl.quotation.outStockOrderID._id}}&quotationID={{$ctrl.quotation._id}}' style='margin-left:5px; margin-bottom: 5px; margin-right: 0px')
                    span #{__('reversion_')}
