div.partials_quotation-details
    div.text-center(ng-show='$ctrl.loadingQuotation')
        i.fa.fa-spinner.fa-spin
    div(ng-hide='$ctrl.loadingQuotation')
        div.table-responsive
            table.table.table-striped.table-hover
                thead
                    tr
                        th #{__('type_')}
                        th #{__('model_')}
                        th #{__('note_')}
                        th.text-right #{__('amount_')}
                        th.text-right #{__('price_')}
                        th.text-right #{__('subtotal_')}
                tbody
                    tr(ng-repeat='selection in $ctrl.quotation.selections')
                        td
                            div
                                span.margin-right-5px
                                    button.btn-xs.btn.btn-default(ng-click='$ctrl.exportWarrantyTicket(selection, {' +
                                    '"war001":"' + __("war_001") + '",' +
                                    '"war002":"' + __("war_002") + '",' +
                                    '"war003":"' + __("war_003") + '",' +
                                    '"war004":"' + __("war_004") + '",' +
                                    '"war005":"' + __("war_005") + '",' +
                                    '"war006":"' + __("war_006") + '",' +
                                    '"war007":"' + __("war_007") + '",' +
                                    '"war008":"' + __("war_008") + '",' +
                                    '"war009":"' + __("war_009") + '",' +
                                    '"war010":"' + __("war_010") + '",' +
                                    '"war011":"' + __("war_011") + '",' +
                                    '"war012":"' + __("war_012") + '",' +
                                    '"war013":"' + __("war_013") + '",' +
                                    '"war014":"' + __("war_014") + '",' +
                                    '"war015":"' + __("war_015") + '",' +
                                    '"war016":"' + __("war_016") + '",' +
                                    '"war017":"' + __("war_017") + '",' +
                                    '"war018":"' + __("war_018") + '",' +
                                    '"war019":"' + __("war_019") + '",' +
                                    '"war020":"' + __("war_020") + '",' +
                                    '"war021":"' + __("war_021") + '",' +
                                    '"war022":"' + __("war_022") + '",' +
                                    '"war023":"' + __("war_023") + '",' +
                                    '"war024":"' + __("war_024") + '",' +
                                    '"war025":"' + __("war_025") + '",' +
                                    '"war026":"' + __("war_026") + '",' +
                                    '"war027":"' + __("war_027") + '",' +
                                    '"war028":"' + __("war_028") + '",' +
                                    '"war029":"' + __("war_029") + '",' +
                                    '"war030":"' + __("war_030") + '",' +
                                    '})' style='margin-right: 5px; margin-bottom: 5px')
                                        span(ng-show='selection.exportingWarranty')
                                            span &nbsp;
                                            i.fa.fa-spinner.fa-spin
                                            span &nbsp;
                                        span(ng-hide='selection.exportingWarranty')
                                            span &nbsp;
                                            i.fa.fa-wrench
                                            span &nbsp;
                                span {{selection.productID.typeID.name}}
                        td
                            div {{selection.productID.model}}
                        td
                            div {{selection.note || ''}}
                        td
                            div.text-right {{selection.amount | currency : "" : ""}}
                        td
                            div.text-right {{selection.price | currency : "" : ""}}
                        td
                            div.text-right {{selection.price * selection.amount | currency : '' : ''}}

                    tr(ng-if='$ctrl.quotation.selections.length' style='font-size: 20px')
                        td(colspan='5')
                            div.text-right #{__('total_order_value')}
                        td
                            div.text-right(style='font-weight: bold')
                                span {{$ctrl.calculateTotalOrderValue() | currency : '' : ''}}
        div
            label #{__('terms_')}
            textarea.form-control.fixed-textarea(readonly style='min-height: 200px') {{$ctrl.quotation.terms}}
    div.row.margin-top-15px
        fieldset(ng-disabled='$ctrl.loadingQuotation')
            div.col-xs-9.text-left
                button.btn-sm.btn.btn-success(ng-disabled='$ctrl.changingOrderStatus' style='margin-right: 5px; margin-bottom: 5px' ng-click='$ctrl.confirmOrder()')
                    span(ng-show='$ctrl.changingOrderStatus')
                        i.fa.fa-spinner.fa-spin
                        span &nbsp;
                    span(ng-hide='$ctrl.changingOrderStatus')
                        i.fa.fa-handshake-o
                        span &nbsp;
                    span #{__('confirm_order')}
                button.btn-sm.btn.btn-default.margin-bottom-5px(style='margin-right: 5px; margin-bottom: 5px' ng-disabled='$ctrl.exportingPDF' ng-click='$ctrl.exportPDF({' +
                '"quo001":"' + __("quotation_001") + '",' +
                '"quo002":"' + __("quotation_002") + '",' +
                '"quo003":"' + __("quotation_003") + '",' +
                '"quo004":"' + __("quotation_004") + '",' +
                '"quo005":"' + __("quotation_005") + '",' +
                '"quo006":"' + __("quotation_006") + '",' +
                '"quo007":"' + __("quotation_007") + '",' +
                '"quo008":"' + __("quotation_008") + '",' +
                '"quo009":"' + __("quotation_009") + '",' +
                '"quo010":"' + __("quotation_010") + '",' +
                '"quo011":"' + __("quotation_011") + '",' +
                '"quo012":"' + __("quotation_012") + '",' +
                '"quo013":"' + __("quotation_013") + '",' +
                '"quo014":"' + __("quotation_014") + '",' +
                '"quo015":"' + __("quotation_015") + '",' +
                '"quo016":"' + __("quotation_016") + '",' +
                '"quo017":"' + __("quotation_017") + '",' +
                '"quo018":"' + __("quotation_018") + '",' +
                '"quo019":"' + __("quotation_019") + '",' +
                '"quo020":"' + __("quotation_020") + '",' +
                '"quo021":"' + __("quotation_021") + '",' +
                '"quo022":"' + __("quotation_022") + '",' +
                '"quo023":"' + __("quotation_023") + '",' +
                '"quo024":"' + __("quotation_024") + '",' +
                '"quo025":"' + __("quotation_025") + '",' +
                '"quo026":"' + __("quotation_026") + '",' +
                '"quo027":"' + __("quotation_027") + '",' +
                '"quo028":"' + __("quotation_028") + '",' +
                '"quo029":"' + __("quotation_029") + '",' +
                '"quo030":"' + __("quotation_030") + '",' +
                '"quo031":"' + __("quotation_031") + '",' +
                '"quo032":"' + __("quotation_032") + '",' +
                '})')
                    span(ng-show='$ctrl.exportingPDF')
                        i.fa.fa-spinner.fa-spin
                        span &nbsp;
                    span(ng-hide='$ctrl.exportingPDF')
                        i.fa.fa-download
                        span &nbsp;
                    span #{__('export_pdf')}

                span(ng-show='$ctrl.shouldShowOtherButtons()')
                    button.btn.btn-sm.btn-primary(style='margin-right: 5px; margin-bottom: 5px' ng-disabled='$ctrl.exportingHandOver' ng-click='$ctrl.exportHandOver({' +
                        '"han001":"' + __("handover_001") + '",' +
                        '"han002":"' + __("handover_002") + '",' +
                        '"han004":"' + __("handover_004") + '",' +
                        '"han005":"' + __("handover_005") + '",' +
                        '"han006":"' + __("handover_006") + '",' +
                        '"han007":"' + __("handover_007") + '",' +
                        '"han008":"' + __("handover_008") + '",' +
                        '"han009":"' + __("handover_009") + '",' +
                        '"han010":"' + __("handover_010") + '",' +
                        '"han011":"' + __("handover_011") + '",' +
                        '"han012":"' + __("handover_012") + '",' +
                        '"han013":"' + __("handover_013") + '",' +
                        '"han014":"' + __("handover_014") + '",' +
                        '"han015":"' + __("handover_015") + '",' +
                        '"han016":"' + __("handover_016") + '",' +
                        '"han017":"' + __("handover_017") + '",' +
                        '"han018":"' + __("handover_018") + '",' +
                        '"han019":"' + __("handover_019") + '",' +
                        '"han020":"' + __("handover_020") + '",' +
                        '"han021":"' + __("handover_021") + '",' +
                        '"han022":"' + __("handover_022") + '",' +
                        '"han023":"' + __("handover_023") + '",' +
                        '"han024":"' + __("handover_024") + '",' +
                        '"han025":"' + __("handover_025") + '",' +
                        '"han026":"' + __("handover_026") + '",' +
                        '"han027":"' + __("handover_027") + '",' +
                        '"han028":"' + __("handover_028") + '",' +
                        '"han029":"' + __("handover_029") + '",' +
                        '"han030":"' + __("handover_030") + '",' +
                        '"han031":"' + __("handover_031") + '",' +
                        '"han032":"' + __("handover_032") + '",' +
                        '"han033":"' + __("handover_033") + '",' +
                        '"han034":"' + __("handover_034") + '",' +
                        '"han035":"' + __("handover_035") + '",' +
                    '}, {' +
                        '"han_number": "' + __("handover_number", '{{hanNumber}}') + '",' +
                        '"han_based_on": "' + __("handover_based_on", '{{contractNo}}', '{{day}}', '{{month}}', '{{year}}', '{{customerName}}') + '",' +
                        '"han_header": "' + __("handover_header", '{{day}}', '{{month}}', '{{year}}', '{{location}}') + '",' +
                        '"han_target": "' + __("handover_target", '{{target}}') + '",' +
                    '})')
                        span(ng-show='$ctrl.exportingHandOver')
                            i.fa.fa-spinner.fa-spin
                            span &nbsp;
                        span(ng-hide='$ctrl.exportingHandOver')
                            i.fa.fa-truck
                            span &nbsp;
                        span #{__('export_handover')}

                    button.btn.btn-sm.btn-default(style='margin-right: 5px; margin-bottom: 5px' ng-disabled='$ctrl.exportingPaymentRequest' ng-click='$ctrl.exportPaymentRequest({' +
                    '"pay001":"' + __("pay_001") + '",' +
                    '"pay002":"' + __("pay_002") + '",' +
                    '"pay003":"' + __("pay_003") + '",' +
                    '"pay004":"' + __("pay_004") + '",' +
                    '"pay005":"' + __("pay_005") + '",' +
                    '"pay006":"' + __("pay_006") + '",' +
                    '"pay007":"' + __("pay_007") + '",' +
                    '"pay008":"' + __("pay_008") + '",' +
                    '"pay009":"' + __("pay_009") + '",' +
                    '"pay010":"' + __("pay_010") + '",' +
                    '"pay011":"' + __("pay_011") + '",' +
                    '"pay012":"' + __("pay_012") + '",' +
                    '"pay013":"' + __("pay_013") + '",' +
                    '"pay014":"' + __("pay_014") + '",' +
                    '"pay017":"' + __("pay_017") + '",' +
                    '"pay018":"' + __("pay_018") + '",' +
                    '"pay019":"' + __("pay_019") + '",' +
                    '"pay020":"' + __("pay_020") + '",' +
                    '"pay021":"' + __("pay_021") + '",' +
                    '"pay023":"' + __("pay_023") + '",' +
                    '"pay024":"' + __("pay_024") + '",' +
                    '"pay025":"' + __("pay_025") + '",' +
                    '"pay026":"' + __("pay_026") + '",' +
                    '"pay027":"' + __("pay_027") + '",' +
                    '"pay029":"' + __("pay_029") + '",' +
                    '}, {' +
                    '"pay_number": "' + __("pay_number", '{{payNumber}}') + '",' +
                    '"pay_date": "' + __("pay_date", '{{day}}', '{{month}}', '{{year}}') + '",' +
                    '"pay_based1": "' + __("pay_based1", '{{poNumber}}', '{{day}}', '{{month}}', '{{year}}', '{{customerName}}') + '",' +
                    '"pay_based2": "' + __("pay_based2", '{{poHandOver}}', '{{customerName}}') + '",' +
                    '"pay_to1": "' + __("pay_to1", '{{customerName}}') + '",' +
                    '"pay_to2": "' + __("pay_to2", '{{customerName}}') + '",' +
                    '"pay_amount_text": "' + __("pay_amount_text", '{{amountText}}') + '",' +
                    '})')
                        span(ng-show='$ctrl.exportingPaymentRequest')
                            i.fa.fa-spinner.fa-spin
                            span &nbsp;
                        span(ng-hide='$ctrl.exportingPaymentRequest')
                            i.fa.fa-money
                            span &nbsp;
                        span #{__('export_payment_request')}

                    button.btn.btn-sm.btn-info(ng-click='$ctrl.exportOrderPrinting({' +
                    '"print001":"' + __("print_001") + '",' +
                    '"print002":"' + __("print_002") + '",' +
                    '"print003":"' + __("print_003") + '",' +
                    '})' style='margin-right: 5px; margin-bottom: 5px')
                        span(ng-show='$ctrl.exportingOrderPrinting')
                            i.fa.fa-spinner.fa-spin
                            span &nbsp;
                        span(ng-hide='$ctrl.exportingOrderPrinting')
                            i.fa.fa-print
                            span &nbsp;
                        span #{__('export_order_print')}
            div.col-xs-3.text-right
                a.btn-sm.btn.btn-default.margin-bottom-5px(href='#/admin/outorder/new?mode=clone&orderID={{$ctrl.quotation.outStockOrderID._id}}&quotationID={{$ctrl.quotation._id}}')
                    span #{__('fork_order')}
                a.btn-sm.btn.btn-primary(href='#/admin/outorder/new?mode=edit&orderID={{$ctrl.quotation.outStockOrderID._id}}&quotationID={{$ctrl.quotation._id}}' style='margin-left:5px; margin-bottom: 5px; margin-right: 0px')
                    span #{__('reversion_')}
