div(ng-controller='AdminOutOrderListController as ctrl' ng-init='ctrl.init()')
    div
        div.row
            div.col-xs-12.col-sm-6
                div.panel-header-title #{__('find_outorder')}

    div.panel.panel-default.main-panel
        div.panel-body
            div
                div.row
                    div.col-xs-6
                        label #{__('filter_')}

                    div.col-xs-6.text-right
                        button.btn.btn-xs.btn-primary(ng-click='ctrl.filterOrder()')
                            span
                                i.fa.fa-filter
                                span &nbsp;
                            span #{__('do_filter')}
                div.panel.penl-default
                    div.panel-body
                        div.row
                            div.col-xs-12.col-sm-6.margin-bottom-5px
                                div.row
                                    div.col-xs-9
                                        label #{__('order_status')}
                                    div.col-xs-3.text-right
                                        button.btn.btn-xs.btn-default(ng-click='ctrl.changeStatus(null)')
                                            i.fa.fa-remove.text-danger
                                order-status-selector(pre-selected-status='ctrl.selectedStatus' on-status-changed='ctrl.changeStatus(selectedStatus)')
                                //customer-selector(global='global' on-customer-changed='ctrl.changeCustomer(selectedCustomer)')

                            div.col-xs-12.col-sm-6.margin-bottom-5px
                                div.row
                                    div.col-xs-9
                                        label #{__('select_customer')}
                                    div.col-xs-3.text-right
                                        button.btn.btn-xs.btn-default(ng-click='ctrl.changeCustomer(null)')
                                            i.fa.fa-remove.text-danger
                                customer-selector(global='global' selected-customer='ctrl.selectedCustomer' on-customer-changed='ctrl.changeCustomer(selectedCustomer)')

                        div.row
                            div.col-xs-12.col-sm-6.margin-bottom-5px
                                div.row
                                    div.col-xs-9
                                        label #{__('product_type')}
                                    div.col-xs-3.text-right
                                        button.btn.btn-xs.btn-default(ng-click='ctrl.changeType(null)')
                                            i.fa.fa-remove.text-danger
                                type-selector(global='global' selected-type='ctrl.selectedType' on-type-changed='ctrl.changeType(selectedType)')

                            div.col-xs-12.col-sm-6.margin-bottom-5px
                                div.row
                                    div.col-xs-9
                                        label #{__('select_date_range')}
                                    div.col-xs-3.text-right
                                        button.btn.btn-xs.btn-default(ng-click='ctrl.changeDateRange({})')
                                            i.fa.fa-remove.text-danger
                                div
                                    date-range-picker(selected-date-range='ctrl.selectedDateRange' on-date-changed='ctrl.changeDateRange(selectedDateRange)')
            div
                label #{__('results_')}
                div.panel.penl-default
                    div.panel-body
