div(ng-controller='AdminOutOrderNewController as ctrl' ng-init='ctrl.init()')
    div
        div.row
            div.col-xs-12.col-sm-6
                div.panel-header-title #{__('new_outorder')}

    div.panel.panel-default.main-panel
        div.panel-body
            div.row
                div.col-xs-12.col-sm-8
                    label #{__('find_product')}
                    div.panel.panel-default
                        div.panel-body
                            product-search(global='global' on-product-selected='ctrl.selectProduct(selectedProduct)')
                div.col-xs-12.col-sm-4
                    label #{__('new_outorder')}
                    div.panel.panel-default
                        div.panel-body
                            div
                                div.margin-bottom-5px
                                    label #{__('select_stock')}
                                    branch-selector(global='global' select-disabled='!global.utils.isSuperAdmin()' selected-branch='ctrl.selectedBranch')
                                div.margin-bottom-5px
                                    label #{__('select_customer')}
                                    customer-selector(global='global' selected-customer='ctrl.selectedCustomer' on-customer-changed='ctrl.selectCustomer(selectedCustomer)')
                                div.margin-bottom-5px
                                    label #{__('select_customer_contact')}
                                    customer-contact-selector(global='global' select-disabled='ctrl.customerContactDisabled' selected-customer='ctrl.selectedCustomer' selected-customer-contact='ctrl.selectedCustomerContact')
                    label #{__('quotation_')}
                    div.panel.panel-default
                        div.panel-body




