div(ng-controller='AdminOutOrderNewController as ctrl' ng-init='ctrl.init()')
    div
        div.row
            div.col-xs-12.col-sm-6
                div.panel-header-title #{__('new_outorder')}

    div.panel.panel-default.main-panel
        div.panel-body
            div.text-center(ng-show='ctrl.initializing')
                i.fas.fa-spinner.fa-spin
            div(ng-hide='ctrl.initializing')
                fieldset(ng-disabled='ctrl.creatingOrder')
                    div.text-right
                        a.btn.btn-default.margin-right-5px.action(role='button' href='/#admin/outorder/list')
                            span #{__('cancel_')}
                        button.btn.btn-primary(ng-click='ctrl.mode==="edit"? ctrl.createNewQuotation("' + __('new_quotation_version_created') + '") : ctrl.createOrder("' + __('create_order_success') + '")' ng-disabled='!ctrl.selectedProducts.length || !ctrl.selectedCustomer || !ctrl.selectedCustomerContact || ctrl.creatingOrder')
                            span(ng-show='ctrl.creatingOrder')
                                i.fas.fa-spinner.fa-spin
                                span &nbsp;
                            span(ng-hide='ctrl.creatingOrder')
                                i.fas.fa-save
                                span &nbsp;
                            span(ng-if='!ctrl.mode || ctrl.mode==="clone"') #{__('create_order_and_save_quotation')}
                            span(ng-if='ctrl.mode==="edit"') #{__('create_new_quotation_version')}

                    div.row
                        div.col-xs-12.col-sm-5
                            label #{__('new_outorder')}
                            div.panel.panel-default
                                div.panel-body
                                    div
                                        div.margin-bottom-5px
                                            label #{__('order_name')}
                                            input.form-control(ng-model='ctrl.orderName')
                                        div.margin-bottom-5px
                                            label #{__('select_stock')}
                                            branch-selector(global='global' select-disabled='!global.utils.isSuperAdmin() || ctrl.mode==="edit"' selected-branch='ctrl.selectedBranch')
                                        div.margin-bottom-5px
                                            label #{__('select_customer')}
                                            customer-selector(global='global' select-disabled='ctrl.mode==="edit"' selected-customer='ctrl.selectedCustomer' on-customer-changed='ctrl.selectCustomer(selectedCustomer)')
                                        div.margin-bottom-5px
                                            label #{__('select_customer_contact')}
                                            customer-contact-selector(global='global' select-disabled='ctrl.customerContactDisabled' selected-customer='ctrl.selectedCustomer' selected-customer-contact='ctrl.selectedCustomerContact' on-customer-contact-changed='ctrl.selectCustomerContact(selectedCustomerContact)')

                        div.col-xs-12.col-sm-7
                            div.row
                                div.col-xs-6
                                    label #{__('terms_')}
                                div.col-xs-6.text-right

                            textarea.fixed-textarea.form-control(ng-model='ctrl.orderTerms' style='height: 250px')
                            div.text-right.margin-top-5px
                                button.btn.btn-xs.btn-warning(ng-disabled='ctrl.overridingTerms' ng-click='ctrl.overrideDefaultTerms()')
                                    span(ng-show='ctrl.overridingTerms')
                                        i.fas.fa-spinner.fa-spin
                                        span &nbsp;
                                    span(ng-hide='ctrl.overridingTerms')
                                        i.fas.fa-save
                                        span &nbsp;
                                    span #{__('override_default')}

                    div.row
                        div.col-xs-12.col-sm-5
                            label #{__('find_product')}
                            div.panel.panel-default
                                div.panel-body
                                    product-search(global='global' on-product-selected='ctrl.selectProduct(selectedProduct, "' + __('sell_product') + '", "' + __('stock_sum') + '", "' + __('desired_amount') + '", "' + __('product_already_selected') + '")')
                        div.col-xs-12.col-sm-7
                            label #{__('quotation_')}
                            div.panel.panel-default
                                div.panel-body
                                    //div.row.flex
                                        div.col-xs-4.vf-center
                                            span(style='padding: 8px; font-weight: bold') #{__('price_adjust')}
                                        div.col-xs-8.vf-center
                                            input.form-control(ng-model='ctrl.priceAdjust')
                                    div.table-responsive
                                        table.table.table-striped.table-hover
                                            thead(style='white-space: pre')
                                                tr
                                                    th #{__('type_')}
                                                    th #{__('model_')}
                                                    th.text-right #{__('note_')}
                                                    th.text-right #{__('amount_')}
                                                    th.text-right #{__('selling_price')}
                                                    th.text-right #{__('selling_price_adjusted')}
                                                    th.text-right #{__('subtotal_')}

                                            tbody
                                                tr(ng-repeat='selection in ctrl.selectedProducts')
                                                    td
                                                        button.btn.btn-danger.btn-xs.margin-right-15px(ng-hide='ctrl.creatingOrder' ng-click='ctrl.removeProductSelection(selection)')
                                                            i.fas.fa-trash
                                                        span {{selection.productID.typeID.name}}
                                                    td
                                                        div {{selection.productID.model}}
                                                    td
                                                        div.popover-wrapper
                                                            a.note(href='' editable-textarea='selection.note' buttons="no")
                                                                span {{selection.note? "#{__('edit_note')}" : "#{__('empty_')}"}}
                                                    td
                                                        div.text-right {{selection.amount}}
                                                    td
                                                        div.text-right {{selection.price | currency : '' : ''}}
                                                    td
                                                        div.text-right {{ctrl.getPriceAfterAdjustment(selection) | currency : '' : ''}}
                                                    td
                                                        div.text-right {{ctrl.getSubTotal(selection) | currency : '' : ''}}
                                                        //input.form-control(ng-model='selection.note')
                                                tr(ng-if='ctrl.selectedProducts.length' style='font-size: 20px')
                                                    td(colspan='6')
                                                        div.text-right #{__('total_order_value')}
                                                    td
                                                        div.text-right(style='font-weight: bold')
                                                            span {{ctrl.calculateTotalOrderValue() | currency : '' : ''}}

                    div.text-right
                        button.btn.btn-primary(ng-click='ctrl.mode==="edit"? ctrl.createNewQuotation("' + __('new_quotation_version_created') + '") : ctrl.createOrder("' + __('create_order_success') + '")' ng-disabled='!ctrl.selectedProducts.length || !ctrl.selectedCustomer || !ctrl.selectedCustomerContact || ctrl.creatingOrder')
                            span(ng-show='ctrl.creatingOrder')
                                i.fas.fa-spinner.fa-spin
                                span &nbsp;
                            span(ng-hide='ctrl.creatingOrder')
                                i.fas.fa-save
                                span &nbsp;
                            span(ng-if='!ctrl.mode || ctrl.mode==="clone"') #{__('create_order_and_save_quotation')}
                            span(ng-if='ctrl.mode==="edit"') #{__('create_new_quotation_version')}
